
  <div class="span12">
         
          <h3 align="center">Need a super talented developer?</h3>
          <h5>Don't let this crummy website fool you. Slapped together in a hurry, I now am too busy with clients to re-do this the way I want. </h5> 
         
       
          <table class="table table-bordered table-hover">
            <tr><td>Owner: </td><td>3Ninja, llc</td></tr>
            <tr><td>Cell: </td><td><a href="tel:312.351.5323">312.351.5323 </a></td></tr>
                <tr><td>Office: </td><td><a href="https://maps.google.com/maps?q=170+n+sangamon&hl=en&ll=41.885154,-87.651329&spn=0.006638,0.010182&sll=41.883563,-87.650943&sspn=0.006638,0.010182&gl=us&hnear=170+N+Sangamon+St,+Chicago,+Illinois+60607&t=m&z=17">170 N Sangamon, Chicago IL 60607</a></td></tr>
                <tr><td>Email: </td><td><a href="mailto:me@seanpcallahan.net">me@seanpcallahan.net</a></td></tr>
               <tr><td>Profile: </td><td><a href="http://www.linkedin.com/in/seanpatrickcallahan/"> www.linkedin.com/in/seanpatrickcallahan/</a></td></tr>
          </table>
                
 
      
                        
             </div><!--/span-->

          
      </div><!--/row-->
    </div>



