
<div class="span9">
  <div class="hero-unit">
         
          <div >
            <h2>Sean P. Callahan</h2>
          </div>
         
          <div class="row-fluid">
            <div>
             <ul>
                <li><a href="tel:312.351.5323">312.351.5323 </a></li>
                <li><a href="https://maps.google.com/maps?q=palmer+square&ie=UTF-8&hq=&hnear=0x880fcd66851c6419:0xebb5384d1ba6db2f,Palmer+Square,+Chicago,+IL&gl=us&ei=AB3vUOGKDZHW8gSNuYCIAw&ved=0CJwBELYD">Palmer Square, Chicago, Illinois - 60647</a></li>
                <li><a href="mailto:me@seanpcallahan.net">me@seanpcallahan.net</a></li>
                <li><a href="http://www.linkedin.com/in/seanpatrickcallahan/"> www.linkedin.com/in/seanpatrickcallahan/</a></li>
                <li></li>
                <li></li>
               </ul>            
             </div><!--/span-->
      </div><!--/row-->
    </div>



