
<div class="span9">
  <div class="hero-unit">
         
          <div >
            <h2>Projects</h2>
          </div>
         
          <div class="row-fluid">
            <div>
              <h4><!--a href="http://music-mind.herokuapp.com"--> Music Mind (hosting URL in flux)</h4>
              <p>A music collaboration tool for musicians to find eachother and make great music.  Worked on this with Roberto Simoes, Joshua Chestang, and Silvia Rivera.</p>
            </div><!--/span-->
              <br>
            <div>
              <h4><a href="http://sothoughtful.co"> So Thoughtful</a></h4>
              <p>This is a project I did with Manny and the group during a Starter's Weekend in Chicago. </p>
            </div><!--/span-->
            <br>
            <div>
              <h4>Bruce Killis</h4>
              <p>I did this with Ray and team at the IIT-Nokia Hackathon in very-late 2012.  It is a game built with the
               LOVE framework using Lua as the language. </p>
            </div><!--/span-->
            <br>
            <div>
              <h4><a href="https://github.com/callsea1"> Github Repository</a></h4>
              <p>This is where I keep most of these and other projects. New, old, live or dormant. </p>
            </div><!--/span-->
            
      </div><!--/row-->
    </div>
