
  


      <div class="container-fluid">
      <div class="collapse">
        <object type="application/pdf" data="/SeanCallahan_Resume.pdf" width="88%" height="970"></object>
      </div><!--/.nav-collapse -->
<a href="/SeanCallahan_Resume.pdf"> My Resume </a></p> <!-- https://www.dropbox.com/s/8wj0ope8nqpoci9 width="88%" height="970"-->
        </div>
          
 

